version: "3"

services:
  frontend:
    container_name: frontend
    build:
      context: frontend
      dockerfile: Dockerfile
    tty: true
    working_dir: /frontend
    ports:
      - 3000:3000
    volumes:
      - ./frontend:/frontend
    environment:
      - WATCHPACK_POLLING=true
  backend:
    container_name: backend
    build:
      context: backend
      dockerfile: Dockerfile
    tty: true
    working_dir: /backend
    volumes:
      - ./backend:/backend
    ports:
      - 8000:8000
    environment:
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
    depends_on:
      - db
    entrypoint:
      - dockerize
      - -timeout
      - 60s
      - -wait
      - tcp://db:3306
    command: python3 manage.py runserver 0.0.0.0:8000
  db:
    container_name: db
    image: mysql:8.0
    # ログイン認証パスワード方式を従来の「mysql_native_password」に変更
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./backend/db-data:/var/lib/mysql
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASS}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASS}
